<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios Random
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>{{ message }}</p>

  <ion-list>
    <ion-card class="card" *ngFor="let user of users">
      
      <ion-card-header>
        <ion-card-title class="nombre">{{user.name.first}} {{user.name.last}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content class="card">
        <ion-item [ngClass]="{'male-card': user.gender === 'male','female-card': user.gender === 'female'}" class="card">

          <ion-thumbnail slot="start">
            <img class="fotos" [src]="user.picture.thumbnail" alt="{{user.name.first}}">
          </ion-thumbnail>

          <ion-label class="card">
            <p>Email: {{user.email}}</p>
            <p>Ciudad: {{user.location.city}}</p>
            <p>País: {{user.location.country}}</p>
            <p>Género: {{user.gender}}</p>
            <div *ngIf="showMoreInfo">
              <p>Teléfono: {{ user.phone }}</p>
              <p>Dirección: {{ user.location.street.name }}, {{
             user.location.city }}</p>
             </div>
          </ion-label>

          <ion-button (click)="showMoreInfo = !showMoreInfo" shape="round" class="boton-info">{{ showMoreInfo ? 'Ocultar Información' : 'Mostrar Más Información' }}</ion-button>

        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>